<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link href="../output.css" rel="stylesheet" />
    <title>Club Deportivo</title>
  </head>
  <body
    class="flex justify-center items-center flex-col bg-gray-700 m-auto min-h-screen"
  >
    <h1 class="text-3xl font-bold underline pb-10 text-white">
      Autenticacion de usuario
    </h1>
    <div class="grid grid-cols-2 gap-4">
      <div><img src="./../assets/user-icon.png" alt="User Icon" /></div>
      <div class="flex justify-center items-center flex-col">
        <form action="">
          <div class="pb-5 flex flex-row gap-2">
            <label class="text-white text-lg" for="user">Usuario</label>
            <input type="text" id="user" />
          </div>
          <div class="pb-5 flex flex-row gap-2">
            <label class="text-white text-lg" for="password">Contraseña</label>
            <input type="password" id="password" />
          </div>
          <div class="flex gap-6 flex-row">
            <a
              id="login"
              href="./menu.html"
              class="px-4 py-2 border-solid border-2 border-rose-600 bg-rose-600 hover:bg-rose-900 hover:border-rose-900 rounded-lg text-white text-lg"
            >
              Ingresar
            </a>
            <button
              id="cancel"
              class="px-4 py-2 border-solid border-2 border-rose-600 bg-rose-600 hover:bg-rose-900 hover:border-rose-900 rounded-lg text-white text-lg"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
